$primary: #41B3A3;
$secondary: #E27D60;
$success: #3AAFA9;
$danger: #C34271;
$info: #116466;
$light: #DEF2F1;
$dark: #314455;

@import '~bootstrap/scss/bootstrap';


.tour-cards {
    display: inline-block;
    margin: 10px 0 0 15%;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
    height: calc(100% *(1/2) - 10px);
}
